@mixin virtual-scroll() {
  .mat-table {
    .cdk-virtual-scroll-viewport {
      flex: 1;
    }

    .isx-table-header-container,
    .isx-table-footer-container {
      position: relative;
      overflow: hidden;

      .mat-header-row,
      .mat-footer-row {
        position: sticky;
        transform: translateX(var(--table-translate-x));

        &:after {
          content: "";
          width: 16px;
          height: 100%;
          position: sticky;
          right: 0;
          background: transparent;
          flex-shrink: 0;
        }

        .mat-header-cell,
        .mat-footer-cell {
          flex-shrink: 0;
        }
      }
    }
  }
}

@mixin table() {
  .mat-table {
    display: flex;
    flex-direction: column;
    flex: 1;

    * {
      box-sizing: border-box;
    }

    .hidden {
      display: none !important;
    }

    .mat-header-row,
    .mat-row {
      min-height: 30px;
      max-height: 30px;
      height: 30px;
      display: flex;

      .mat-header-cell,
      .mat-cell {
        flex: initial;
        padding: 2px;
        border: 1px solid black;
        user-select: none;
      }
    }

    .mat-header-row {
      .mat-header-cell {
        background: aquamarine;
      }
    }

    .mat-row {
      .mat-cell {
        background: rgba(0,0,0, 0.1);
      }
    }
  }
}

@mixin drag-and-drop() {
  .mat-table {
    .mat-header-row,
    .mat-row {
      display: flex;

      .mat-header-cell,
      .mat-cell {

        &.isx-drag-column {
          pointer-events: none;
          z-index: 1;
        }

        &:not(.isx-drag-column) {
          transition: transform 0.5s ease;
        }
      }

      .mat-header-cell {
        display: flex;
        flex-direction: column;

        .drag-column-container {
          display: flex;
          flex: 1;
          width: 100%;
        }
      }
    }
  }
}

@mixin resize() {
  .mat-table {
    .mat-header-row,
    .mat-row {
      .mat-header-cell,
      .mat-cell {
        &.isx-resize-column {
          pointer-events: none;
        }
      }
    }

    .mat-header-row {
      .mat-header-cell {
        position: relative;

        .resize-column-icon {
          position: absolute;
          right: 0;
          top: 0;
          width: 7px;
          height: 100%;
          cursor: ew-resize;

          &:after {
            content: "";
            background: black;
            position: absolute;
            height: 100%;
            width: 1px;
            right: 0;
          }
        }
      }
    }
  }
}

@mixin row-buttons() {
  .mat-table {
    .mat-row {

      .isx-over-table-actions {
        z-index: 2;
      }

      position: relative;
      &:hover {
        .isx-table-actions-show-container {
          display: flex;
          right: initial;
          position: absolute;
          transform: translateX(var(--row-actions-translate-x));
          background: linear-gradient(90deg, rgba(white, 0) 0, white 15%, white 85%, rgba(white, 0));
        }
      }

      .isx-table-actions-show-container {
        display: none;
        position: absolute;
        flex: 1;
        justify-content: flex-end;
        height: 21px;
        align-self: center;
        z-index: 1;
        .isx-table-actions-show {
          display: flex;
          align-items: center;
          height: 21px;
          right: 0;
          padding: 0 48px;
          white-space: nowrap;
          .mat-button {
            width: 26px;
            height: 24px;
          }
        }
      }
    }
  }
}

@include table();
@include virtual-scroll();
@include drag-and-drop();
@include resize();
@include row-buttons();
