@mixin virtual-scroll() {
  .mat-table {
    .cdk-virtual-scroll-viewport {
      flex: 1;
    }

    .isx-table-header-container,
    .isx-table-footer-container {
      position: relative;
      overflow: hidden;

      .mat-header-row,
      .mat-footer-row {
        position: sticky;
        transform: translateX(var(--translate-x));

        &:after {
          content: "";
          width: 16px;
          height: 100%;
          position: sticky;
          right: 0;
          background: transparent;
          flex-shrink: 0;
        }

        .mat-header-cell,
        .mat-footer-cell {
          flex-shrink: 0;
        }
      }
    }
  }
}

@mixin table() {
  .mat-table {
    display: flex;
    flex-direction: column;
    flex: 1;

    * {
      box-sizing: border-box;
    }

    .hidden {
      display: none !important;
    }

    .mat-header-row,
    .mat-row {
      min-height: 30px;
      max-height: 30px;
      height: 30px;
      display: flex;

      .mat-header-cell,
      .mat-cell {
        flex: initial;
        padding: 2px;
        border: 1px solid black;
        user-select: none;
      }
    }

    .mat-header-row {
      .mat-header-cell {
        background: aquamarine;
      }
    }

    .mat-row {
      .mat-cell {
        background: white;
      }
    }
  }
}

@mixin drag-and-drop() {
  .mat-table {
    .mat-header-row,
    .mat-row {
      display: flex;

      .mat-header-cell,
      .mat-cell {

        &.isx-drag-column {
          pointer-events: none;
          z-index: 1;
        }

        &:not(.isx-drag-column) {
          transition: transform 0.5s ease;
        }
      }

      .mat-header-cell {
        display: flex;
        flex-direction: column;

        .drag-column-container {
          display: flex;
          flex: 1;
          width: 100%;
        }
      }
    }
  }
}

@mixin resize() {
  .mat-table {
    .mat-header-row,
    .mat-row {
      .mat-header-cell,
      .mat-cell {
        &.isx-resize-column {
          pointer-events: none;
        }
      }
    }

    .mat-header-row {
      .mat-header-cell {
        position: relative;

        .resize-column-icon {
          position: absolute;
          right: 0;
          top: 0;
          width: 7px;
          height: 100%;
          cursor: ew-resize;

          &:after {
            content: "";
            background: black;
            position: absolute;
            height: 100%;
            width: 1px;
            right: 0;
          }
        }
      }
    }
  }
}

@include table();
@include virtual-scroll();
@include drag-and-drop();
@include resize();
