.isx-table {
  display: flex;
  flex-direction: column;

  .mat-header-row {
    background: aquamarine;
  }

  .mat-header-row,
  .mat-row {
    display: flex;

    .mat-header-cell,
    .mat-cell {
      flex: 1;
      padding: 2px;
      border: 1px solid black;
    }
  }
}
