<div class="action-container">
  <button mat-raised-button (click)="addColumn()"> Add column </button>
  <button mat-raised-button (click)="removeColumn()"> Remove column </button>
  <button mat-raised-button (click)="shuffle()"> Shuffle </button>
  <button mat-raised-button (click)="toggleFilter = !toggleFilter; viewScroll.updateHeaderAndFooterScroll()">Toggle filter</button>
</div>

<mat-table [dataSource]="dataSource"
           tabindex="-1" (keydown)="$event.preventDefault()"
           (keyup.arrowUp)="selectionModel.selectPrevElement(); viewScroll.scrollIntoView(selectionModel.lastSelected)"
           (keyup.arrowDown)="selectionModel.selectNextElement(); viewScroll.scrollIntoView(selectionModel.lastSelected)"
           [isxColumnDrag]="columnsToDisplay" (drop)="columnsToDisplay = $event; console($event); changeDetectorRef.detectChanges()"
           matSort
           isxVirtualScrollViewport #viewScroll=isxVirtualScrollViewport (fetchNextPage)="fetchNextPage($event)"
           isxColumnResize (resize)="console($event)">

  <ng-container matColumnDef="OBJECT_SELECTION">
    <mat-header-cell *matHeaderCellDef [style.width.px]="30">
      <mat-checkbox [checked]="selectionModel.isSelectedAll" [indeterminate]="selectionModel.isSelectedPartial" [disabled]="!selectionModel.isData"
                    (change)="selectionModel.toggleAllCheck($event.checked)"></mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let element" [style.width.px]="30">
      <mat-checkbox [checked]="selectionModel.isSelectedCheck(element)"
                    (change)="selectionModel.toggleCheck(element)"
                    (click)="$event.stopPropagation()"></mat-checkbox>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="filter_OBJECT_SELECTION">
    <mat-header-cell *matHeaderCellDef [style.width.px]="30"></mat-header-cell>
  </ng-container>

  <ng-container [matColumnDef]="column" *ngFor="let column of columnsToDisplay">
    <ng-container *ngIf="column != 'name'">
      <mat-header-cell *matHeaderCellDef mat-sort-header isx-column-drag-header isx-column-resize-header [style.width.px]="100"> {{format(column)}} </mat-header-cell>
      <mat-cell *matCellDef="let element" isx-column-drag-cell isx-column-resize-cell [style.width.px]="100"> {{element[column]}} </mat-cell>
    </ng-container>
    <ng-container *ngIf="column == 'name'">
      <mat-header-cell *matHeaderCellDef mat-sort-header [style.width.px]="200"> {{format(column)}} - no drag </mat-header-cell>
      <mat-cell *matCellDef="let element" [style.width.px]="200"> {{element[column]}} </mat-cell>
    </ng-container>
  </ng-container>

  <ng-container [matColumnDef]="column" *ngFor="let column of filteredColumnsToDisplay">
    <ng-container *ngIf="column != 'filter_name'">
      <mat-header-cell *matHeaderCellDef [isx-column-drag-cell]="parentHeader(column)" [isx-column-resize-cell]="parentHeader(column)" [style.width.px]="100"> {{format(column)}} </mat-header-cell>
    </ng-container>
    <ng-container *ngIf="column == 'filter_name'">
      <mat-header-cell *matHeaderCellDef [style.width.px]="200"></mat-header-cell>
    </ng-container>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['OBJECT_SELECTION'].concat(columnsToDisplay)"></mat-header-row>
  <mat-header-row *matHeaderRowDef="['filter_OBJECT_SELECTION'].concat(filteredColumnsToDisplay)" [class.hidden]="!toggleFilter"></mat-header-row>

  <ng-template let-row matRowDef [matRowDefColumns]="['OBJECT_SELECTION'].concat(columnsToDisplay)" isxVirtualFor>
    <mat-row (click)="selectionModel.selectLine(row); changeDetectorRef.detectChanges()" [class.selected]="selectionModel.isSelected(row)"></mat-row>
  </ng-template>
</mat-table>

