:host {
  height: 100%;
  display: flex;
  flex-direction: column;

  .isx-table {
    width: 100%;
    flex: 1;
  }

  .action-container {
    display: flex;

    button {
      margin: 16px 8px;
    }
  }

}
